* {
    margin: 0;
    padding: 0;
}

.main {
    line-height: 1cm;
}

.myrow {
    margin: 0 !important;
}



/* .col1{
    background-color: aqua;
}
.col2{
    background-color: red;
}
.col3{
    background-color: blue;
} */
/* body{
    background-color: yellow;
} */